* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ADD GOOGLE FONT */
h1,
h2,
h3,
p {
    font-family: montserrat;
}

/* ADD BACKGROUND TO SECTION PROPERTY */
section,
header {
    background-color: #f7f7ff;
}
/* I GOT EVERY WIDTH  AND HEIGHT FROM THE XD FILE AND ADD TO EACH PROPERTY */
section {
    height: 1150px;
}
/* EDDITING THE LOGO */
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

img {
    width: 114.73px;
    height: 100px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
/* EDITTING THE SHOWCASE */
h1 {
    width: 304px;
    font-size: 60px;
    margin: auto;
    font-weight: bold;
    height: 296px;
}

.showcase p {
    font-size: 24px;
    margin: auto;
    width: 304px;
    height: 87px;
}
/* CHANGING THE REST OF SENTENCE TO RED COLOR */
mark.red {
    color: #ff8480;
    background: none;
}

.motor img {
    width: 100%;
    height: 211px;
    margin: auto;
    margin-bottom: 10px;
}
/* I TRIED TO MAKE THE BOX SHADOW AS THE SAMPLE BUT I COULDN'T PROPERLY */
.contact-us {
    width: 300px;
    height: 495px;
    padding: 20px;
    margin: auto;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 30px;
}

.form,
.form-items {
    width: 100%;
    margin: auto;
}
/* AGAIN I GOT ANY FONT SIZE FROM THE XD FILE AND PUT TO EACH PROPERTY */
div.title h2 {
    font-size: 40px;
}

div.title p {
    font-size: 16px;
    margin-bottom: 10px;
}

.form-items .field {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 5px;
    border: 0;
    background: #f4f4f5;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
}

.check-box label {
    font-size: 16px;
    font-family: montserrat;
    margin-left: 10px;

}

div .check-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

div .check-box input {
    width: 25px;
    height: 25px;
}

div.btn button {
    width: 250px;
    height: 55px;
    background: #57eeab;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
/* EDITTING FOOTER */
footer {
    background-color: #fffd8c;
}

div.footer-about h3 {
    width: 302px;
    margin: auto;
    padding-top: 20px;
}

div.footer-about p {
    width: 302px;
    margin: auto;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.calculate {
    margin: auto;
}

div.city input.field {
    width: 224px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
}

div.hours input.field {
    width: 68px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
}

div.calculate button {
    width: 302px;
    height: 40px;
    margin-top: 15px;
    border: none;
    margin-bottom: 15px;
    background-color: #ff8480;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
/* I USED FLEXBOX AND SPACE AOUND TO PUT THE SOCIAL LOGOS LIKE THE SAMPLE */
div.footer-socials ul {
    display: flex;
    width: 260.5px;
    height: 34.66px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    list-style: none;
}
/* SELECTICTING EACH OF THESE LOGOS WAS VERY CONFUSING FOR ME BUT AT THE END I GOT IT*/
div.footer-socials ul li:nth-child(1) img {
    width: 34.88px;
    height: 34.66px;
    margin: 0;
    border-radius: 50%;
}

div.footer-socials ul li:nth-child(2) img {
    width: 31.52px;
    height: 31.51px;
    margin: 0;
}
/* I COULDN'T CHANGE THE TWITTER LOGO AS LIKE AS IT IS IN XD FILE */
div.footer-socials ul li:nth-child(3) img {
    width: 31.5px;
    height: 31.5px;
    margin: 0;
    background-color: #fffd8c;
    color: #000;
}

div.footer-socials ul li:nth-child(4) img {
    width: 36px;
    height: 29.24px;
    margin: 0;
}

/* TABLET VIEWPORT */
/* I GOT 768 PX FROM THE WIDTH OF TABLET FILE IN XD */
@media (min-width: 768px) {

    section {
        height: 1400px;
    }

    div.showcase h1 {
        width: 604px;
        height: 292px;
        font-size: 80px;
        margin: auto;
    }

    div.showcase p {
        width: 605px;
        height: 60px;
        padding-top: 20px;
    }

    /* EDITTING SCOOTER IMAGE */

    div.motor {
        display: flex;
    }

    div.motor img {
        width: 420px;
        height: 307px;
    }

    /* EDITTING CONTACT FORM */

    div.contact-us {
        width: 605px;
        height: 596px;
    }

    div.title h2 {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    div.title p {
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    div.form {
        width: 525px;
        height: 55px;
        margin-bottom: 15px;
    }

    div.check-box {
        margin-bottom: 20px;
    }

    div.form-items input.field {
        font-size: 18px;
    }

    div.check-box input {
        margin-left: 20px;
        width: 29px;
        height: 29px;
    }

    div.check-box label {
        font-size: 20px;
    }

    div.btn button {
        width: 525px;
        height: 64px;
        display: block;
        margin: auto;
        font-size: 32px;
    }

    div.title-2 p {
        text-align: center;
        padding-top: 20px;
        font-size: 17px;
    }

    div.footer-about h3 {
        width: 608px;
        font: 18px;
    }

    div.footer-about p {
        width: 608px;
        font-size: 16px;
        margin: auto;
    }

    div.footer-contact {
        justify-content: center;
        margin-bottom: 20px;
    }

    div.calculate {
        margin: 0;
    }

    div.hours {
        margin-left: 0;
    }

    div.hours input.field {
        width: 122px;
    }

    div.calculate button {
        margin: 0;
        width: 200px;
    }

    div.city input.field {
        margin-right: 10px;
        width: 260px;
    }

    div.container img {
        margin-left: 82px;
    }

    div.showcase br {
        display: none;
    }

    div.footer-about br {
        display: none;
    }
}
/* I GOT THE 1920 PX FROM THE DESKTOP FILE AT XD */
@media (min-width: 1920px) {
/* I CHANGED THE DISPLAY OF MOTOR IMAGE TO MAKE MY JOB EASSIER */
    div.motor img {
        display: none;
    }
/* I USED BACKGRONG IMAGE IN DESKTOP VIEWPORT TO SET THE IMAGE EASSIER */
    section {
        display: flex;
        justify-content: space-around;
        background-image: url(./image/scooter.svg);
        background-size: 819.36px 599.26px;
        background-repeat: no-repeat;
        background-position: center;
    }

    div.contact-us {
        margin: 0;
        background: #fff;
        width: 535px;
        height: 590px;
    }

    div.showcase,
    div.contact-us {
        margin-top: 410px;
    }

    div.form {
        width: 450px;
    }

    div.btn button {
        width: 452px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
    }

    div.footer-socials {
        width: 50%;
        margin-top: 90px;
    }
}